.lorem-form {
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
    margin-top: 2rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  
  .lorem-form fieldset{
    border: 0;
    margin: 0.5rem 0;
  }
  
  .lorem-form label {
    font-size: 2rem;
    margin: 1rem
  }
  
  .lorem-form fieldset{
    border: 0
  }
  
  .lorem-form input{
    width: 4rem;
  }
  
  .lorem-form input,
  .lorem-form select {
    padding: 0.25rem 0.5rem;
    border-radius: var(--borderRadius);
    border-color: transparent;
    background: var(--grey-300);
    font-size: 1.25rem;
  }
  
  .lorem-form .btn {
    align-self: stretch;
    width: 400px;
    margin: 2rem auto;
  }
  
  .lorem-result-container{
    display: flex;
    flex-direction: column;
    gap: 1rem
  }
  
  .lorem-text{
    padding: .8rem 1.5rem;
    background-color: var(--grey-100);
  }
  
  .lorem-text p {
    margin-bottom: 2rem;
    line-height: 2rem;
  }
  